.logo{
    height: 5em;
}
.hidden{
    display: none;
}
.head{
  position: fixed; 
  z-index: 1000;
}
.btn-shop{
  background-color: #FFF !important;
  color: #dc3545 !important;
  border-radius: 50% !important;
  padding: .375rem .5rem !important;
}
.form-control{
  width: 400px !important;
  margin-right: 3em !important;
}
.d-flex{
  cursor: pointer;
}

.favv{
  border-radius: 50%; 
  margin-right: 0.5em; 
}
