<div [ngClass]="{'show-favorites-container': comicService.modalFavorites}"
  style="transform: translateX(13%); transition: all ease .5s; padding-top: 64px !important"
  class="container-fluid row m-0 p-0">
  <div class="col-9 contain-all">

    <div class="row justify-content-around">
      <h1 class="mb-3 fw-bold">CHARACTERS</h1>
      <div class="card col-4 p-0 card-character"
        *ngFor="let character of comicService.charactersBrowse | paginate: { itemsPerPage: 10, currentPage: pages}">
        <div class="row">

          <div class="col-4">
            <img class="card-img-left col-6 img-character"
              src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" alt="{{characters.name}}">
          </div>

          <div class=" card-body col-8 ">
            <h1 class="card-title ">{{character.name}}</h1>
            <p class="card-text">{{character.comics.items.name}}</p>
            <p class="card-text">{{description(character)}}</p>

            <button type="button" class="btn btn-danger" (click)="popupComics(character)">Comics</button>
          </div>
        </div>
      </div>
      <div class="text-center mt-5">
        <pagination-controls (pageChange)="pages = $event"></pagination-controls>
      </div>
    </div>


  </div>

</div>
<div class="col-3 slider" [ngClass]="{'show-favorites': comicService.modalFavorites}">
  <h1 class="mb-3 fw-bold text-center">FAVORITES</h1>
  <div class="card card-fav mx-auto" *ngFor="let comic of comicService.comicsFavorites">
    <img src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}" class="card-img-top img-comic" alt="...">
    <h5 class="title-comic text-center">{{comic.title}}</h5>
    <button type="button" class="btn btn-trash" (click)="deleteComicOfFavorites(comic)"><i
        class="fas fa-trash-alt"></i></button>
  </div>
</div>