.img-character{
  width: 170px;
  height: 170px;
  position: absolute;
  top: -2em;
  left: -2em;
  border-radius:50%;
}
.contain-img{
  position: relative;
}
.row-css{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.contain-all{
  padding: 6em;
}
.card-character{
  margin: 2em;
  min-height: 200px;
}